<body onload="return typewrite()" data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="71">
    

  <div id="ani-home" style="background-position: 15.59% 62.18%, 38.53% 54.06%, 44.265% 52.03%;">
      <!--Navbar Start-->
      <nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
          <div class="container-fluid custom-container">
              <a class="navbar-brand logo text-uppercase" href="index.html">
                  <img src="https://yazilima.org/images/logo-dark.png" class="logo-light" alt="" height="37">
                  <!-- <img src="images/logo-light.png" class="logo-dark" alt="" height="28"> -->
              </a>

              <button class="navbar-toggler me-3 order-2 ms-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                  <i class="mdi mdi-menu"></i>
              </button>

              <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav mx-auto navbar-center">
                      <li class="nav-item">
                          <a href="#home" class="nav-link active">Anasayfa</a>
                      </li>
                      <li class="nav-item dropdown dropdown-hover">
                          <a href="#service" class="nav-link">Öne Çıkan Özelliklerimiz</a>
                      </li>
                       <li class="nav-item dropdown dropdown-hover">
                          <a href="#features" class="nav-link">Kamp Hakkında Bilgi</a>
                      </li> 

                    <!-- <li class="nav-item dropdown dropdown-hover">
                          <a href="#user" class="nav-link ">User</a>
                      </li> -->
                       
                      <li class="nav-item">
                          <a href="#faq" class="nav-link">Sıkça Sorulan Sorular(S.S.S)</a>
                      </li>

                      <li class="nav-item">
                          <a href="https://www.shopier.com/ShowProductNew/products.php?id=17334754" class="nav-link">Hemen Kayıt Ol</a>
                      </li> 
                    <!--   <li class="nav-item">
                          <a href="#blog" class="nav-link">Blog</a>
                      </li>
                      <li class="nav-item">
                          <a href="#subscribe" class="nav-link">Abone Ol</a>
                      </li> -->
                  </ul>
                  <!--end navbar-nav-->
              </div>


          
          </div>
          <!--end container-->
      </nav>
      <!-- Navbar End -->


   


      <!-- start home -->
      <section class="bg-home6 overflow-hidden" id="home">
          <div class="main-image " id="main-image">
              <div id="imgcontainer-home6">
                  <div id="inner-home6">
                      <div class="demo-img">
                          <div class="demo-overlay">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
<br>  <br>  <br>
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-8">
                      <div class="text-center">
                         <!--  <i class="mdi mdi-crown f-36 text-muted"></i> -->
                          <h1 class="text-black home-title mb-0">
                              <span class="typewrite" data-period="2000" data-type="[ &quot; 4 Aylık, Çevrimiçi Yazılım Kampımız Başlıyor > &quot; ]">
                                  <span class="wrap"> &lt; Yazılım Dünyasına Profesyonel Adım Atın &gt;  <br>  </span>
                              </span>
                          </h1>
                          <h1 class="text-white home-title mb-0"><span class="element" data-elements="4 Aylık YazılımaOrg, Yazılım kampımız başlıyor.Sıfırdan yazılıma başlamak isteyenlere uygun."></span>
                          </h1>
                          <p class="home-4-desc text-muted mb-5 mt-3"><strong> 
                          4 ay sürecek YazılımaOrg'Kamp'tan Yazılım Uzmanlığı Eğitimi al,gerçek projelerde öğren. Nitelikli eğitmenler ve mentorluk desteğiyle kariyerine yön ver. Kaydol, başarıya giden yolda adımını at!

                               </strong> </p>
                              <a href="https://www.shopier.com/ShowProductNew/products.php?id=17334754" class="btn btn-primary">Hemen Kayıt Ol &gt;</a> 
                              

                      </div>
                  </div>
              </div>
          </div>
          <!--end container-->
      </section>
      <!-- Hero End -->
  </div>


  



  <!-- start service -->
  <section class="section bg-light" id="service">
      <div class="container">
          <div class="row justify-content-center mb-4 pb-2">
              <div class="col-lg-6">
                  <div class="heading text-center">
                      <h6 class="text-muted f-16 fw-normal">Bu kamp, öğrenme sürecini keyifli ve etkili kılmak için tasarlanmıştır.</h6>
                      <h2 class="mb-3">Sıfırdan <span class="text-primary fw-normal"> eğitim alarak </span>yazılım sektöründe
                          <br> uzmanlaşacaksınız.
                      </h2>
                      <p class="text-muted para-p mx-auto mb-0">4 Aylık sıfırdan yazılımın derinliklerine
                          kampımızda öne çıkan özelliklerimiz.</p>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-lg-4 mt-4 pt-2">
                  <div class="service-box text-center text-lg-start">
                      <div class="service-image">
                          <img src="https://yazilima.org/images/service/img-1.png" alt="img-fluid">
                      </div>
                      <h2 class="fw-bold mt-4 mb-3">İş deneyimi</h2>
                      <p>Kampımızda, öğrencilerimiz gerçek hayatta kullanılan projelerde çalışma fırsatı bulurlar. Bu sayede, öğrencilerimiz, 
                          iş hayatındaki sorunları çözmeye yardımcı olacak beceriler kazanırlar.</p>
                      <div class="button-link mt-2">
                          <a href="https://www.shopier.com/ShowProductNew/products.php?id=17334754" class="f-14 fw-bold">Hemen Kayıt Ol <i class="mdi mdi-arrow-right align-middle"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 mt-4 pt-2">
                  <div class="service-box text-center text-lg-start">
                      <div class="service-image">
                          <img src="  https://yazilima.org/images/service/img-2.png" alt="img-fluid">
                      </div>
                      <h2 class="fw-bold mt-4 mb-3">YazılımaOrg Sertifika</h2>
                      <p>Kampımızın tamamlanmasının ardından öğrencilerimize YazılımaOrg MÜHÜRLÜ hem Basılı hem Dijital sertifika veriyoruz. Bu, öğrencilerimizin 
                          özgeçmişlerine ekleyebilecekleri bir belge olarak onların iş arama süreçlerinde avantaj sağlamalarını sağlar.</p>
                      <div class="button-link mt-2">
                          <a href="https://www.shopier.com/ShowProductNew/products.php?id=17334754" class="f-14 fw-bold">Hemen Kayıt Ol<i class="mdi mdi-arrow-right align-middle"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 mt-4 pt-2">
                  <div class="service-box text-center text-lg-start">
                      <div class="service-image">
                          <img src="https://yazilima.org/images/service/img-3.png" alt="img-fluid">
                      </div>
                      <h2 class="fw-bold mt-4 mb-3">Kaliteli yazılım eğitimi sunuyoruz</h2>
                      <p>Eğitimlerimiz, öğrencilerimizin sektörde aranan becerilerle donanmalarını sağlamak için tasarlanmıştır. 
                          Bu sayede, öğrencilerimiz kendi kendilerine yazılım geliştirebilecekleri becerileri edinirler ve işe hazır hale gelirler.</p>
                      <div class="button-link mt-2">
                          <a href="https://www.shopier.com/ShowProductNew/products.php?id=17334754" class=" f-14 fw-bold">Hemen Kayıt Ol<i class="mdi mdi-arrow-right align-middle"></i></a>
                      </div>
                  </div>
          </div>
      </div>
  </div></section>
  <!-- end service -->



  <!-- start features -->
  <section class="section " id="features">
      <div class="container">
          <div class="row align-items-center" id="part1">
              <div class="col-lg-7">
                  <div class="sec-image position-relative" id="sec-image">
                      <div class="bg-img overflow-hidden border-radius">
                          <a href="https://www.shopier.com/ShowProductNew/products.php?id=17334754">
                              <img src="images/features/img-3.webp" alt="yazılımaorg kamp hangi programlama dilleri öğretiliyor" class="img-fluid">
                          </a>
                      </div>
                      <br> 
                  </div>
              </div>
              
             
          </div>
          
  <br> 
          <div class="features-2" id="part2">
              <div class="row align-items-center">
                  <div class="col-lg-4 order-2 order-lg-1 mt-5 mt-lg-0">
                      <h6 class="text-muted fw-normal"><span class="fw-bold">Bilgi. Deneyim. Destek.</span></h6>
                      <h1 class="fw-bold mt-2">YazılımaOrg'<span class="text-primary fw-normal">KAMP</span>
                      </h1>
                      <p class="mt-3">Programımız 15 Ağustos'da başlayacak ve 4 ay sürecek yoğun bir yazılım geliştirici kampıdır. Katılımcılarımız sıfırdan başlayarak temel bilgi ve becerileri öğrenecek, gerçek projelerde çalışacak ve deneyim kazanacaklar. Haftada 3 gün, akşam saatlerinde 2 saatlik derslerle gerçekleşecek olan kampımız, iş hayatınızı etkilemeden sizlere yazılım dünyasında kendinizi geliştirme fırsatı sunuyor. Bu avantajlı programla kariyerinizde önemli bir adım atarak yazılım dünyasının kapılarını aralayın. Kaydolun ve yazılım alanında başarılı bir geleceğe adım atın!</p>
                      <div class="get-link mt-4">
                          <a href="https://www.shopier.com/ShowProductNew/products.php?id=17334754" class="text-primary font-weight-600"> Hemen KAYIT olmak için TIKLA  <i class="mdi mdi-arrow-right"></i></a>
                      </div>

                  </div>
                  <div class="col-lg-7 offset-lg-1 order-1 order-lg-2">
                      <div class="sec-image-2 position-relative " id="sec-image-2">
                          <div class="bg-img overflow-hidden border-radius">
                              <img src="images/features/img-2.webp" alt="Yazılım eğitim programı yazılımaorg kamp görsel 2" class="img-fluid">
                          </div>
                          <div id="imgcontainer-2">
                              <div id="inner-3">
                                  <div class="demo-img-2">
                                      <div class="demo-overlay">

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>


                  


              </div>
          </div> 
      </div>


      <div class="modal fade bd-example-modal-lg" id="watchvideomodal" data-keyboard="false" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
              <div class="modal-content hero-modal-0 bg-transparent">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  
              </div>
          </div>
      </div>
  </section>
 
              <!-- navigation buttons -->
              <div class="swiper-pagination"></div>
          
      
  
  <!-- end section -->


  <!-- start cta -->
  <section class="cta section" id="cta-ani">
      <div class="cta-image position-relative">
          <div class="container position-relative">
              <div class="row justify-content-center">
                  <div class="col-lg-10">
                      <div class="text-center">
                          <h5 class="text-dark ">Hemen yazılıma bizimle <span class="text-primary">adım
                                  atın... </span> </h5>
                          <h2 class="mt-3 fw-bold">Yazılım dünyasında yeteneklerinizi geliştirecek ve kendinizi öne 
                              çıkarmanızı sağlayacak bir fırsat sunuyoruz.</h2> <br>
                           <a href="https://www.shopier.com/ShowProductNew/products.php?id=17334754" class="btn-lg btn-primary mt-4 f-14">Hemen Kayıt Ol &gt;</a>


                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- end cta -->  <br>
  <div class="row align-items-center" id="part1">
      <div class="col-lg-7">
          <div class="sec-image position-relative" id="sec-image">
              <div class="bg-img overflow-hidden border-radius">
                  <a href="https://www.shopier.com/ShowProductNew/products.php?id=17334754">
                      <img src="images/features/img-4.webp" alt="Yazılım eğitimi görsel - yazılımaorg kamp" class="img-fluid">
                  </a>
              </div>
              <br> 
          </div>
      </div>
      
     
  </div>



  
   



   
  <section class="section bg-light" id="pricing">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-10">
                  <div class="text-center">
                     
                      <h2 class="mb-3">Yazılım dünyasının kapılarını aralayan bir kamp deneyimi için  <span class="text-primary fw-normal">YazılımaOrg Kamp'a katılın!</span>
                      </h2>
                      
                  </div>
              </div>
          </div>
         

              <div class="col-lg-4  mt-5">
                  <div class="pricing-box box-shadow p-4 border-radius">
                      <div class="text-center mb-4">
                          <h6 class="text-primary">YazılımaOrg'Kamp Programı</h6>
                          <div class="price-title mt-2">
                              <div class="tag"></div>
                              <h6 class="mb-0 text-white">Sıfırdan-İleri Seviye </h6>
                          </div>
                          <div class="price-tag mt-4">
                              <h2><sup>₺</sup><span class="text-primary">4999</span></h2>
                          </div>
                          <p class="text-muted mt-2">YazılımaOrg Kamp, katılımcılara <br> HTML, CSS, JavaScript, C# .NETCore,  <br>
                               SQL ve Asp.Net Core Mvc gibi  <br> önemli programlama dillerini 
                               öğretiyor ve gerçek projeler  <br>üzerinde uygulama yapma imkanı sunuyor.</p> 

                          <div class="detail mt-4">
                              <p><span class="text-primary icon me-2">∎</span>Proje tabanlı öğrenme</p>
                              <p><span class="text-primary icon me-2">∎</span>Katılımcı takip sistemi </p>
                              <p><span class="text-primary icon me-2">∎</span>Katılım ve Başarı belgesi</p>
                              <p><span class="text-primary icon me-2">∎</span>Uzman mentor buluşmaları</p>
                              <p><span class="text-primary icon me-2">∎</span>Haftada 3 Gün / 6 Saat</p>
                              <p><span class="text-primary icon me-2">∎</span>Katılımcı destek sistemi, (ödev,proje)</p>
                          </div>

                      </div>
                      <a href="https://www.shopier.com/ShowProductNew/products.php?id=17334754" class="btn btn-primary rounded-pill position-absolute start-50 translate-middle-x">Hemen Yerini Al</a>

                  </div>
              </div>

             
          </div>
      
  </section>
  <!-- end pricing -->


  <!-- start faq  -->
  <section class="section faq" id="faq">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="title-box text-center">
                      <h6 class="text-muted fw-normal">4 Aylık Yazılımaorg'Kamp Programı Hakkında Merak Ettiklerinizi Cevaplıyoruz &gt;</h6>
                      <h2 class="mb-3">Sıkça <span class="text-primary fw-normal">Sorulan Sorular</span> <br>
                          </h2>
                  
                  </div>
              </div>
          </div>
          <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                  <div class="accordion mt-5" id="accordionExample">
                      <div class="faq-collaps faq-collaps-2">
                          <!-- start 1 -->
                          <div class="card mt-4">
                              <a data-bs-toggle="collapse" href="#collapse1" class="faq collapsed">
                                  <div class="card-header p-4" id="heading1">
                                      <h5 class="mb-0 text-dark">YazılımaOrg'Kamp'ta hangi dilleri öğreneceğim? </h5>
                                  </div>
                              </a>
                              <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
                                  <div class="card-body pt-1">
                                      <p class="mb-0 text-muted">

                                          Kamp süresince HTML, CSS, JavaScript, C# .NET Core, SQL ve ASP.NET Core MVC gibi dilleri öğreneceksiniz.</p>
                                  </div>
                              </div>
                          </div>
                          <!-- end 1 -->

                          <!-- start 2 -->
                          <div class="card mt-4">
                              <a data-bs-toggle="collapse" href="#collapse2" class="faq collapsed">
                                  <div class="card-header p-4" id="heading2">
                                      <h5 class="mb-0 text-dark">Kampa katılmak için ne gerekli ?</h5>
                                  </div>
                              </a>
                              <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
                                  <div class="card-body pt-1">
                                      <p class="mb-0 text-muted">
                                          "Kampa katılmak için herhangi bir yazılım bilgisine ihtiyacınız yok! Sadece bir bilgisayar ve internet erişimi yeterlidir. Kampta yer almak isteyen öğrencilerimizin istekli ve azimli olmaları, ekstra başarılı olmalarını sağlayacaktır."
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <!-- end 2 -->

                          <!-- start 3 -->

                          <div class="card mt-4">
                              <a data-bs-toggle="collapse" href="#collapse3" class="faq collapsed">
                                  <div class="card-header p-4" id="heading3">
                                      <h5 class="mb-0 text-dark">Kamp nasıl işleyecek?</h5>
                                  </div>
                              </a>
                              <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
                                  <div class="card-body pt-1">
                                      <p class="mb-0 text-muted">Kamp, interaktif eğitimler, proje tabanlı öğrenme, mentorlük ve pratik uygulamalar gibi çeşitli yöntemlerle gerçekleştirilecek. Size özel bir program takip sistemi ile desteklenerek, gerçek dünya yazılım projelerinde deneyim kazanmanız sağlanacak.
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <!-- end 3 -->

                          <!-- start 4 -->
                         


                          <div class="card mt-4">
                              <a data-bs-toggle="collapse" href="#collapse4" class="faq collapsed">
                                  <div class="card-header p-4" id="heading4">
                                      <h5 class="mb-0 text-dark">Hangi günler ve saatler arasında dersler yapılıyor?</h5>
                                  </div>
                              </a>
                              <div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#accordionExample">
                                  <div class="card-body pt-1">
                                      <p class="mb-0 text-muted">&gt; Kamp dersleri Salı, Cumartesi ve Pazar günleri, saat 20:00 ile 22:00 arasında gerçekleştirilecektir.</p>
                                  </div>
                              </div>
                          </div>

                          





                          








                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <img src="images/faq/Questions.jpg" alt="" class="img-fluid">
              </div>
          </div>

      </div>
  </section>
  <!-- end faq -->
  








  <!-- start footer -->
  <section class="footer py-5 bg-light">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  
                  <div class="social-icon d-flex mt-4 mb-4 mb-lg-0">
                      

                      <div class="twitter ms-4">
                          <a href="https://www.instagram.com/yazilimaorgkamp/"><i class="mdi mdi-instagram f-30"></i></a>
                      </div>
                      
                         
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <h5 class="text-black">Bu sitenin tüm hakları YazılımaOrg'a Aittir. </h5>
                  <a href="gizlilikveguvenlik.html">Gizlilik ve Güvenlik Sözleşmesi</a>, <br>
                  <a href="katilimcisözlesmesi.html">Katılımcı Sözleşmesi</a>

                  
                  

              </div>
              
          </div>
      
  </section>
  <!-- end footer -->


                


  <!-- bootstrap -->
  <script src="js/bootstrap.bundle.min.js"></script>

  <script src="js/tiny-slider.js"></script>

  <script src="js/swiper.min.js"></script>

  <!-- counter -->
  <script src="js/counter.init.js"></script>

  <!-- Custom -->
  <script src="js/app.js"></script>


  <script>

          (function () {
              // Add event listener
              document.addEventListener("mousemove", parallax);
              const elem = document.querySelector("#ani-home");
              // Magic happens here
              function parallax(e) {
                  let _w = window.innerWidth / 2;
                  let _h = window.innerHeight / 2;
                  let _mouseX = e.clientX;
                  let _mouseY = e.clientY;
                  let _depth1 = `${50 - (_mouseX - _w) * 0.01}% ${50 - (_mouseY - _h) * 0.01}%`;
                  let _depth2 = `${50 - (_mouseX - _w) * 0.02}% ${50 - (_mouseY - _h) * 0.02}%`;
                  let _depth3 = `${50 - (_mouseX - _w) * 0.06}% ${50 - (_mouseY - _h) * 0.06}%`;
                  let x = `${_depth3}, ${_depth2}, ${_depth1}`;
                  elem.style.backgroundPosition = x;
              }

          })();

  </script>



